
/* Aufgabe: (8)
Name: (Alicia Burger)
Matrikel: (254604)
Datum: (08.12.2016)
Hiermit versichere ich, dass ich diesen
Code selbst geschrieben habe. Er wurde
nicht kopiert und auch nicht diktiert. */

@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

#d1{
	font-size:5em;
	font-family: 'Droid Sans Mono', monospace;
}

#d2{
	font-size:1.5em;
	font-family: 'Droid Sans Mono', monospace;
}
